.user{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top:30px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}
.user>input{
    height: 40px;
}

.user>p{
    color: red;
    /* margin-left: -0%; */
    margin-top: -20px;
    margin-bottom: 0px;
}
.user>button{
    height: 40px;
    width: 30%;
    margin: auto;
    background-color: teal;
    border-radius: 5px;
    border: none;
}
@media screen and (max-width: 720px) {
    .user{
        /* border: 1px solid red; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display:flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        margin-top:30px;
        padding: 10px;
        border-radius: 5px;
        gap: 20px;
    }
}